body{
    position: relative;
    overflow: hidden;
    margin: 0px;
}

#main{
    position: absolute;
    width: 100%;
}

#background{
    position: absolute;
    width: 100%;
    background-size: contain;
    top: -200px;
}

#current-state{
    text-align: center;
    font-size: 100px;
    top: 5%;
}

#player{
    position: relative;
    width: 100%;
    top: 42px;
    text-align: center;
}

#play-area{
    position: relative;
}

#other{
    position: absolute;
    top: 30px;
    left: 47%;
}

#stage{
    position: relative;
    top: 0px;
    left: 0px;
}

#rival{
    position: absolute;
    top: 12px;
    left: 31px;
}

#button{
    text-align: center;
}

#going-button{
    font-size: 50px;
    padding: 12px, 100px;
     
    background-color: #4169e1;

    color: #fff;
}

#going-button:hover {
    background-color: #0000ff;
    color: #fff;
}

#going-button:active {
    background-color: #00008b;
    color: #fff;
}

#going-button:disabled {
    background-color: #4169e1;
    color: #4682b4;
}